@media only screen and (max-width: 649px),
(orientation: portrait) {

    html,
    body {
        overflow-x: hidden;
    }

    body,
    body>header,
    body>footer,
    body>main,
    body>main>section {
        width: 100vw !important;
    }

    .nlen--container {
        max-width: unset !important;
        width: 100%;
        height: unset !important;
        flex-direction: column !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nlen--preheader {

        position: relative;
        height: 3.25rem;
        overflow: hidden;

        >div {
            max-width: unset;
            align-items: flex-start;
            flex-direction: row;
            padding: 0;
        }

    }

    #nlen--preheader-badge {
        width: fit-content;
    }

    #nlen--preheader-search-dropdown-container {
        display: none;
    }

    .nlen--preheader-nav-button>span::before {
        width: 2rem;
        height: 2rem;
        margin-right: 0;
        transform: none;
    }

    #nlen--preheader-nav-donate,
    #nlen--preheader-nav-shop {
        display: none;
    }

    .nlen--header .nlen--nav-logo {
        margin-left: 0;
    }


    .nlen--header:not(.nlen--mobile-header) {
        display: none !important;
    }


    .nlen--site-nav {
        display: none;
    }

    .nlen--home-hero {
        height: 150vw;
    }

    .nlen--home-hero .nlen--home-hero-container {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .nlen--home-hero .hero-text-container {
        width: 100%;
        height: unset;
        position: absolute;
        bottom: 2rem;

        h1 {
            font-size: 3rem;
            line-height: 1.25 !important;
        }
    }

    .nlen--user-search-container {
        display: none;
    }

    .nlen--social-proof-container {
        flex-direction: column;
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }

    .nlen--social-proof-card {
        margin: auto;
    }

    .nlen--metrics-cta {
        main {
            width: 90%;
            margin: auto;

            p {
                font-size: 1.75rem;
            }
        }
    }


    .nlen--metrics-container {
        height: auto;

        .nlen--metrics {
            width: 100%;
            height: unset;
            flex-direction: column;

            .nlen--metrics-card {
                height: unset;
                width: 85%;
                margin: auto;
            }
        }

    }

    /**/
    .nlen--alumni-sucess {
        padding: 0;

        .nlen--alumni-sucess-featured {
            display: flex;
            height: unset;
            width: 100%;
            padding: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: var(--spacing-6xl, 3rem);
            flex: 0 0 auto;
        }
    }

    .nlen--halfs-container>div {
        width: 100%;
    }

    .nlen--halfs-container.nlen--halfs-ltr picture img,
    .nlen--halfs-container.nlen--halfs-rtl picture img {
        width: 100%;
        height: unset;
    }

    #nlen--preheader-badge {
        >p:last-of-type {
            margin-left: 1em;
        }
    }

    .nlen--halfs-container.nlen--halfs-rtl>div,
    .nlen--halfs-container.nlen--halfs-ltr>div {
        padding: 0;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    /**/

    .nlen--halfs-container {
        height: auto;
    }

    #nlen--upcoming-events header {
        padding: 0;
    }

    #nlen--upcoming-events main {
        padding: 0;
    }


    /**/

    .nlen--events {
        width: 100%;
        flex-direction: column;
        width: 100%;
        flex-direction: column;
        column-gap: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nlen--event {
        width: 100%;
    }

    #nlen--upcoming-events header>div {
        padding: 1rem;
    }

    #nlen--upcoming-events main {
        flex-direction: column;
    }

    /**/

    #nlen--donate-cta {
        >.nlen--container {
            width: unset;
        }
    }

    #nlen--keep {
        &>.nlen--container {
            &>form {
                >p {
                    flex-direction: column;
                    width: 100%;

                    #subs-form-email,
                    #subs-form-submit {
                        width: 100%;
                    }
                }
            }
        }
    }

    #nlen--donation-boxes {
        .donation-box {
            width: unset;
        }
    }

    .nlen--footer-content {}

    .nlen--footer-links {
        flex-direction: row !important;
        flex: 0 0 auto;
        flex-wrap: wrap;
        width: 100%;

        .nlen--footer-links-col {
            width: 40vw;
        }
    }

    .nlen--site-postfooter>.nlen--container {
        width: unset;
        flex-direction: column-reverse;
        gap: 1rem;

        p:first-of-type {
            order: 2;
        }

        .nlen--site-postfooter-links {
            position: relative;
            top: unset;
            right: unset;
            order: 1;
        }
    }

    /**/

    #nlen--donations-cta {
        padding-bottom: 2rem;

        >.nlen--container {
            width: unset;
        }
    }

    #nlen--classy-donation-form {
        height: auto;
        margin-top: 2rem;
        padding: 0 2rem;

        .nlen--container {
            width: 100% !important;
        }
    }

    #nlen--classy-donation-form-copy {
        max-width: unset;
        min-width: unset;
        width: 100%;
    }

    #nlen--classy-donation-form-classy>div {
        width: unset !important;
        height: auto !important;
    }

    #nlen--other-ways-to-give-cta {
        height: unset;
    }

    #nlen--other-ways-to-give-cta {
        & .nlen--container {
            h1 {
                width: auto;
            }
        }
    }

    ul.other-ways-list {
        >li {
            width: unset;

            >figure {
                width: unset;

                >div {
                    width: unset;
                    height: unset;
                }

                >figcaption {
                    width: unset;
                }
            }
        }
    }

    /**/

    #nlen--programs-list-container {
        margin-top: 1rem;
    }

    .nlen--program-card {
        width: unset;

        main {
            flex-direction: column;

            .nlen--program-card-picture {
                width: 100%;
            }

            .nlen--program-card-description {
                width: 100%;
            }
        }
    }

    #nlen--programs-sweet-beginnings-cta {
        height: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 5rem;

        >.nlen--container {
            >div {
                min-width: unset;
                max-width: unset;
                width: 100%;
            }

            >picture {
                min-width: unset;
                max-width: unset;
                width: 100%;
                height: auto;

                img {
                    display: block;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }


    .nlen--heading-inner {
        height: unset !important;
    }

    .nlen--heading-inner.with-bg-image {
        height: unset !important;
    }

    .nlen--heading-inner {
        .nlen--container {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        & .heading--container {
            .contents {
                flex-direction: column !important;

                .title,
                .supporting-text {
                    width: 100% !important;
                }
            }
        }
    }

    .nlen--breadcrumbs {
        margin-bottom: 2rem !important;

        & p {
            a {
                font-size: 0.8725rem !important;
            }
        }
    }

    .graduates--graduate--stories-cta {
        & .nlen--container {
            &>div {
                p:has([class*="button"]) {
                    position: unset !important;
                    bottom: unset;
                    right: unset;
                }
            }
        }
    }

    .nlen--event-card {
        width: 100%;
    }


    .nlen--team-elt-cta {
        .nlen--container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}


@media only screen and (max-width: 375px) {
    .nlen--home-hero .hero-text-container {
        h1 {
            font-size: 2.75rem;
            line-height: 1.25 !important;
        }

        p {
            font-size: 1.5rem;
        }

    }
}



/*

    Mobile megamenu

*/

.ac-container input {
    display: none;
}

.nlen--mobile-header {

    width: 100vw;
    min-width: 360px;
    max-width: 640px;
    margin: auto;

    >.nlen--container {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

}

#nlen--mobile-nav-donate {
    display: flex;
    padding: var(--spacing-xl, 1rem) 1.375rem;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md, 0.5rem);
    flex: 1 0 0;
    align-self: stretch;
    border: 2px solid var(--Gradient-skeuemorphic-gradient-border, rgba(255, 255, 255, 0.12));
    background: var(--Component-colors-Utility-Orange-utility-orange-500, #FF4B00);

    >span {
        color: var(--Component-colors-Components-Buttons-Primary-button-primary-fg, #FFF);

        /* Text lg/Semibold */
        font-family: var(--Font-family-font-family-body, Onest);
        font-size: var(--Font-size-text-lg, 1.125rem);
        font-style: normal;
        font-weight: 600;
        line-height: var(--Line-height-text-lg, 1.75rem);
        /* 155.556% */
    }
}

#nlen--mobile-nav-shop {
    display: flex;
    padding: var(--spacing-xl, 1rem) 1.375rem;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md, 0.5rem);
    flex: 1 0 0;
    align-self: stretch;

    border: 2px solid var(--Component-colors-Utility-Yellow-utility-yellow-500, #FF0);
    background: var(--Component-colors-Utility-Yellow-utility-yellow-500, #FF0);

    >span {
        color: var(--colors-text-text-primary-900, #272018);

        /* Text lg/Semibold */
        font-family: var(--Font-family-font-family-body, Onest);
        font-size: var(--Font-size-text-lg, 1.125rem);
        font-style: normal;
        font-weight: 600;
        line-height: var(--Line-height-text-lg, 1.75rem);
        /* 155.556% */

        >strong {
            font-weight: 900;
        }
    }

}

.nlen--mobile-nav {
    width: 100vw;
    max-width: 640px;
    min-width: 360px;
    margin: auto;
    background: var(--Colors-Background-bg-primary, #FFF);

    /* Shadows/shadow-lg */
    box-shadow: 0px 12px 16px -4px var(--Colors-Effects-Shadows-shadow-lg_01, rgba(10, 13, 18, 0.08)), 0px 4px 6px -2px var(--Colors-Effects-Shadows-shadow-lg_02, rgba(10, 13, 18, 0.03)), 0px 2px 2px -1px var(--Colors-Effects-Shadows-shadow-lg_03, rgba(10, 13, 18, 0.04));

    label {
        display: flex;
        padding: var(--spacing-lg, 0.75rem) var(--container-padding-mobile, 1rem);
        align-items: center;
        gap: var(--spacing-lg, 0.75rem);
        align-self: stretch;
        overflow: hidden;
        color: var(--colors-text-text-primary-900, #181D27);
        text-overflow: ellipsis;

        /* Text md/Semibold */
        font-family: var(--Font-family-font-family-body, Onest);
        font-size: var(--Font-size-text-md, 1rem);
        font-style: normal;
        font-weight: 600;
        line-height: var(--Line-height-text-md, 1.5rem);
        /* 150% */
    }

    footer {
        display: flex;
        padding: var(--spacing-3xl, 1.5rem) var(--container-padding-mobile, 1rem);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-4xl, 2rem);
        align-self: stretch;

        article {
            display: flex;
            padding: var(--spacing-lg, 0.75rem) var(--container-padding-mobile, 1rem);
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-xl, 1rem);
            align-self: stretch;
        }
    }

}

.nlen--mobile-nav {
    height: 0;
    transition: 0.15s cubic-bezier(0.37, 0, 0.63, 1) all;
    overflow: hidden;
}

.nlen--mobile-nav.is-active {
    height: 100%;
}


.nlen--nav-mobile-list {
    border-radius: var(--radius-xl, 0.75rem);
    border: 1px solid var(--Colors-Border-border-primary, #D5D7DA);
    background: var(--Colors-Background-bg-primary, #FFF);
    display: flex;
    flex-direction: column;
    margin: 0rem var(--spacing-lg, 0.75rem) var(--spacing-md, 0.5rem) var(--spacing-lg, 0.75rem);

    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(10, 13, 18, 0.05));
    overflow: hidden;

    footer {
        display: flex;
        padding: var(--spacing-md, 0.5rem) 0rem var(--spacing-lg, 0.75rem) 0rem;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-xl, 1rem);
        align-self: stretch;
        background: var(--Colors-Background-bg-secondary, #FAFAFA);

        >article>picture>img {
            width: 100%;
            height: auto;
        }
    }
}

.nlen--nav-mobile-list {
    height: 0;
}

input[name="nlen--nav-mobile-item-2"]:checked+label+.nlen--nav-mobile-list {
    height: auto;
}