@media only screen and (max-width: 649px),
(orientation: portrait) {

    html,
    body {
        overflow-x: hidden;
    }

    body,
    body>header,
    body>footer,
    body>main,
    body>main>section {
        width: 100vw !important;
    }

    .nlen--container {
        max-width: unset !important;
        width: 100%;
        height: unset !important;
        flex-direction: column !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nlen--preheader {

        position: relative;
        height: 3.25rem;
        overflow: hidden;

        >div {
            max-width: unset;
            align-items: flex-start;
            flex-direction: row;
            padding: 0;
        }

    }

    #nlen--preheader-badge {
        width: fit-content;
    }

    #nlen--preheader-search-dropdown-container {
        display: none;
    }

    .nlen--preheader-nav-button>span::before {
        width: 2rem;
        height: 2rem;
        margin-right: 0;
        transform: none;
    }

    #nlen--preheader-nav-donate,
    #nlen--preheader-nav-shop {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 0;
        right: 0;

        >span,
        >span>strong {
            font-size: 0 !important;
        }
    }

    #nlen--preheader-nav-donate {
        transform: translateX(-4rem);
    }

    #nlen--preheader-nav-shop {}

    .nlen--header {
        .nlen--nav-logo {
            margin-left: 0;
        }
    }

    .nlen--site-nav {
        display: none;
    }

    .nlen--home-hero {
        height: 150vw;
    }

    .nlen--home-hero .nlen--home-hero-container {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .nlen--home-hero .hero-text-container {
        width: 100%;
        height: unset;
        position: absolute;
        bottom: 2rem;

        h1 {
            font-size: 3rem;
            line-height: 1.25 !important;
        }
    }

    .nlen--user-search-container {
        display: none;
    }

    .nlen--social-proof-container {
        flex-direction: column;
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }

    .nlen--social-proof-card {
        margin: auto;
    }

    .nlen--metrics-cta {
        main {
            width: 90%;
            margin: auto;

            p {
                font-size: 1.75rem;
            }
        }
    }


    .nlen--metrics-container {
        height: auto;

        .nlen--metrics {
            width: 100%;
            height: unset;
            flex-direction: column;

            .nlen--metrics-card {
                height: unset;
                width: 85%;
                margin: auto;
            }
        }

    }

    /**/
    .nlen--alumni-sucess {
        padding: 0;

        .nlen--alumni-sucess-featured {
            display: flex;
            height: unset;
            width: 100%;
            padding: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: var(--spacing-6xl, 3rem);
            flex: 0 0 auto;
        }
    }

    .nlen--halfs-container>div {
        width: 100%;
    }

    .nlen--halfs-container.nlen--halfs-ltr picture img,
    .nlen--halfs-container.nlen--halfs-rtl picture img {
        width: 100%;
        height: unset;
    }


    .nlen--halfs-container.nlen--halfs-rtl>div,
    .nlen--halfs-container.nlen--halfs-ltr>div {
        padding: 0;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    /**/

    .nlen--halfs-container {
        height: auto;
    }

    #nlen--upcoming-events header {
        padding: 0;
    }

    #nlen--upcoming-events main {
        padding: 0;
    }


    /**/

    .nlen--events {
        width: 100%;
        flex-direction: column;
        width: 100%;
        flex-direction: column;
        column-gap: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nlen--event {
        width: 100%;
    }

    #nlen--upcoming-events header>div {
        padding: 1rem;
    }

    #nlen--upcoming-events main {
        flex-direction: column;
    }

    /**/

    #nlen--donate-cta {
        >.nlen--container {
            width: unset;
        }
    }

    #nlen--keep {
        &>.nlen--container {
            &>form {
                >p {
                    flex-direction: column;
                    width: 100%;

                    #subs-form-email,
                    #subs-form-submit {
                        width: 100%;
                    }
                }
            }
        }
    }

    #nlen--donation-boxes {
        .donation-box {
            width: unset;
        }
    }

    .nlen--footer-content {}

    .nlen--footer-links {
        flex-direction: row !important;
        flex: 0 0 auto;
        flex-wrap: wrap;
        width: 100%;

        .nlen--footer-links-col {
            width: 40vw;
        }
    }

    .nlen--site-postfooter>.nlen--container {
        width: unset;
        flex-direction: column-reverse;
        gap: 1rem;

        p:first-of-type {
            order: 2;
        }

        .nlen--site-postfooter-links {
            position: relative;
            top: unset;
            right: unset;
            order: 1;
        }
    }

    /**/

    #nlen--donations-cta {
        padding-bottom: 2rem;

        >.nlen--container {
            width: unset;
        }
    }

    #nlen--classy-donation-form {
        height: auto;
        margin-top: 2rem;
        padding: 0 2rem;

        .nlen--container {
            width: 100% !important;
        }
    }

    #nlen--classy-donation-form-copy {
        max-width: unset;
        min-width: unset;
        width: 100%;
    }

    #nlen--classy-donation-form-classy>div {
        width: unset !important;
        height: auto !important;
    }

    #nlen--other-ways-to-give-cta {
        height: unset;
    }

    #nlen--other-ways-to-give-cta {
        & .nlen--container {
            h1 {
                width: auto;
            }
        }
    }

    ul.other-ways-list {
        >li {
            width: unset;

            >figure {
                width: unset;

                > div {
                    width: unset;
                    height: unset;
                }

                > figcaption {
                    width: unset;
                }
            }
        }
    }

    /**/

    #nlen--programs-list-container {
        margin-top: 1rem;
    }

    .nlen--program-card {
        width: unset;
        
        main {
            flex-direction: column;

            .nlen--program-card-picture {
                width: 100%;
            }

            .nlen--program-card-description {
                width: 100%;
            }
        }
    }

    #nlen--programs-sweet-beginnings-cta {
        height: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 5rem;

        > .nlen--container {
            > div {
                min-width: unset;
                max-width: unset;
                width: 100%;
            }

            > picture {
                min-width: unset;
                max-width: unset;
                width: 100%;
                height: auto;

                img {
                    display: block;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}