/*
Thin 100
*/

.onest-100 {
    font-family: "Onest", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/*
ExtraLight 200
*/


.onest-200 {
    font-family: "Onest", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/*
Light 300
*/

.onest-300 {
    font-family: "Onest", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*
Regular 400
*/

.onest-400 {
    font-family: "Onest", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*
Medium 500
*/

.onest-500 {
    font-family: "Onest", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*
Semibold 600
*/

.onest-600 {
    font-family: "Onest", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
}

/*
Bold 700
*/

.onest-700 {
    font-family: "Onest", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/*
Extrabold 800
*/

.onest-800 {
    font-family: "Onest", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/*
Black 900
*/

.onest-900 {
    font-family: "Onest", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}