.nlen--cta {
    padding: 7rem 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;

    .nlen--container {
        padding: 0rem 4rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;

        h2 {
            /* Display sm/Semibold */
            font-family: var(--Font-family-font-family-display, Onest);
            font-size: var(--Font-size-display-sm, 1.875rem);
            font-style: normal;
            font-weight: 600;
            line-height: var(--Line-height-display-sm, 2.375rem);
            /* 126.667% */
        }
    }

}