.nlen--impact-sweet-beginnings {
    display: flex;
    padding: 7rem 0 10.04rem;
    background: #FEFF00;

    .nlen--container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        &>.icon {
            width: 4.64056rem;
            height: 4.71163rem;
            aspect-ratio: 74.25/75.39;

            svg {
                display: block;
                object-fit: contain;
                width: 100%;
                height: auto;
            }
        }

        >*:not(.cards-row) {
            text-align: center;
            max-width: 50.1rem;
        }

        h2 {
            color: #000;
            text-align: center;
            font-family: var(--Font-family-font-family-display, Onest);
            font-size: var(--Font-size-display-md, 2.25rem);
            font-style: normal;
            font-weight: 900;
            line-height: var(--Line-height-display-md, 2.75rem);
            /* 122.222% */
            letter-spacing: -0.045rem;

            b {
                color: #000;

                /* Display md/Medium */
                font-family: var(--Font-family-font-family-display, Onest);
                font-size: var(--Font-size-display-md, 2.25rem);
                font-style: normal;
                font-weight: 500;
                line-height: var(--Line-height-display-md, 2.75rem);
                letter-spacing: -0.045rem;
            }
        }

        p {
            color: #000;
            text-align: center;

            /* Text lg/Regular */
            font-family: var(--Font-family-font-family-body, Onest);
            font-size: var(--Font-size-text-lg, 1.125rem);
            font-style: normal;
            font-weight: 400;
            line-height: var(--Line-height-text-lg, 1.75rem);
            /* 155.556% */
        }

        .cards-row {
            display: flex;
            margin-top: 4rem;
            flex-direction: row;
            flex-wrap: wrap;

            .card {
                width: 25.3rem;
                flex-basis: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
                align-self: stretch;

                .icon {
                    width: 2.5rem;
                    height: 2.5rem;
                    aspect-ratio: 1/1;
                    background-color: #000000;
                    border-radius: 50%;
                    display: block;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                h3 {
                    color: var(--Color-Scheme-1-Text, #000);
                    text-align: center;

                    /* Display xs/Semibold */
                    font-family: var(--Font-family-font-family-display, Onest);
                    font-size: var(--Font-size-display-xs, 1.5rem);
                    font-style: normal;
                    font-weight: 600;
                    line-height: var(--Line-height-display-xs, 2rem);
                    /* 133.333% */
                }

                p {
                    color: var(--Color-Neutral-black, #000);
                    text-align: center;

                    /* Text lg/Regular */
                    font-family: var(--Font-family-font-family-body, Onest);
                    font-size: var(--Font-size-text-lg, 1.125rem);
                    font-style: normal;
                    font-weight: 400;
                    line-height: var(--Line-height-text-lg, 1.75rem);
                    /* 155.556% */
                }
            }



        }
    }

}