.nlen--program-description.sweet-beginnings-description {
    background: var(--NLEN-secondaryTanAccessible, #FDF3E2);

    & .nlen--container {
        &>div {

            p.tagline {
                color: var(--Eyebrow-brown, #BD4A02) !important;

                /* Text md/Semibold */
                font-size: var(--Font-size-text-md, 1rem) !important;
                font-weight: 600 !important;
                line-height: var(--Line-height-text-md, 1.5rem) !important;
                /* 150% */
            }

            & ul {
                & li {
                    padding-left: 3.5rem;

                    &::before {
                        width: 2.5rem;
                        height: 2.5rem;
                        aspect-ratio: 1/1;
                        border-radius: var(--radius-full, 624.9375rem);
                        background: var(--NLEN-btnText-alt, #F9DBAF);
                        background-image: url(../svgs/nlen--sweet-beginnings-list-icon.svg);
                        background-size: 1.16988rem 1.1875rem;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}

.nlen--program-featured-opportunities.nlen--sweet-beginnings-mission-action {
    border-top-color: transparent;

    .nlen--container {

        .tagline {
            color: var(--Eyebrow-brown, #BD4A02);

            /* Text md/Semibold */
            font-family: var(--Font-family-font-family-body, Onest);
            font-size: var(--Font-size-text-md, 1rem);
            font-style: normal;
            font-weight: 600;
            line-height: var(--Line-height-text-md, 1.5rem);
            /* 150% */
        }
    }

}

.nlen--group-picture.nlen--video-as-group-picture {
    padding: 6.3125rem 4rem 7rem 4rem;
    background: var(--NLEN-secondaryTanAccessible, #FDF3E2);
    border-top: 0.0625rem solid #932F19;

    .nlen--container {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        flex-shrink: 0;
        display: flex;

        h2 {
            color: var(--NLEN--RedOrange, #FF4B00);
            text-align: center;
            font-family: Onest;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 900;
            line-height: 120%;
            /* 2.7rem */
        }

        p.subtitle {
            margin-top: -3.5rem;
        }

    }

}

.nlen--heading-inner.with-bg-image {
    height: 39.94rem;
}

.nlen--about-us--our-campus .nlen--heading-inner.with-bg-image {
    background: linear-gradient(0deg, rgba(19, 19, 19, 0.55) 0%, rgba(19, 19, 19, 0.55) 100%), url(../../img/about-us--our-campus/about-us--our-campus-header-bg.jpg) lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}